/* start main body */
#map_container {
    text-align: center;
    margin: 0 auto;
	font-family: verdana;

}
/* end main body */

/* start map */

.one {
	fill: #5AB4AC;
	opacity: .7;		
	transition: fill 0.3s ease-in-out;
	-moz-transition: fill .3s ease-in-out;
	-webkit-transition: fill .3s ease-in-out;
}

.two {
	fill: #D8B365;	
	opacity: .7;
	transition: fill 0.3s ease-in-out;
	-moz-transition: fill .3s ease-in-out;
	-webkit-transition: fill .3s ease-in-out;
}

/* end map */

/* start map footer */

#map_container #state_specific_headline {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

#map_container #state_specific_body {
    display: inline-block;
    text-align: left;
    width: 60%;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/* end map footer */

/* start fade */
#map_container .fade-out {
    opacity : 0;
    transition-property : opacity; 
    transition-duration : 0.3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

#map_container .fade-in {
    opacity : 1;
    transition-property : opacity; 
    transition-duration : 0.3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

#map_container path:hover, #map_container path:active {
	opacity: 1;
}
/* end fade */


#map_container .clickable {
    cursor: pointer;
}

#map_container .selected {
    fill: #232323;
}
